* {
    font-family: 'Poppins', sans-serif;
}

.main_slider .slick-list{
    height: 262px !important;
    border-radius: 8px;
}

/* advantages */
.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 30px 0;
}
.advantage {
    flex: 1 1 0px;
    padding: 16px 18px;
    border: 1px solid #70707026;
    border-radius: 8px;
    min-width: 140px;

    display: flex;
    gap: 14px;
}
.advantage h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000D0D;
}  
.advantage p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #404a4a;
}

.headline{
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 500;
}

.headline:hover{
    color: #000D0D;
}

.headline > .headline__after{
    margin-top: 6px;
    margin-left: 0;
    text-decoration: underline;
}

.headline > .headline__after::before{
    display: none;
}

.hotspot:not(.--slider):not(.--list):not(.--added) .products{
    border: none;
}

#main_hotspot_zone1 .product,
#main_hotspot_zone2 .product,
#main_hotspot_zone3 .product,
#main_hotspot_zone4 .product,
#search .product,
.hotspot .product{
    text-align: center;
    border: 1px solid #70707026 !important;
    border-radius: 8px;
}
#main_hotspot_zone1 .product__name,
#main_hotspot_zone2 .product__name,
#main_hotspot_zone3 .product__name,
#main_hotspot_zone4 .product__name,
#search .product__name,
.hotspot .product__name{
    font-size: 14px;
    font-weight: 500;
    color: #000D0D;
}
#main_hotspot_zone1 .product .product__prices,
#main_hotspot_zone2 .product .product__prices,
#main_hotspot_zone3 .product .product__prices,
#main_hotspot_zone4 .product .product__prices,
#search .product .product__prices,
.hotspot .product .product__prices{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#main_hotspot_zone1 strong.price,
#main_hotspot_zone2 strong.price,
#main_hotspot_zone3 strong.price,
#main_hotspot_zone4 strong.price,
#search strong.price,
.hotspot strong.price {
    font-size: 14px;
    font-weight: normal;
    color: #404a4a;
}

#main_hotspot_zone1 span.price.--max ~ strong.price,
#main_hotspot_zone2 span.price.--max ~ strong.price,
#main_hotspot_zone3 span.price.--max ~ strong.price,
#main_hotspot_zone4 span.price.--max ~ strong.price,
#search span.price.--max ~ strong.price,
.hotspot span.price.--max ~ strong.price {
    font-size: 14px;
    color: #ff5050;
}

#search .product__compare{
    display: none;
}
@media (min-width: 757px){
    .products{
        gap: 26px;
    }
    .product.col-sm-3 {
        flex: 0 0 calc(25% - 26px*3/4) !important;
        max-width: calc(25% - 26px*3/4) !important;
    }
    .product.col-sm-4 {
        flex: 0 0 calc(33.33333% - 26px*2/3);
        max-width: calc(33.33333% - 26px*2/3);
    }
    .product.col-12.px-0.py-1.mb-1.mb-md-0.d-flex {
        flex: 0 0 calc(25% - 26px*3/4);
    }
}
.seo-text{
    border-top: 1px solid #7070701A;
    padding-top: 44px;
}
.seo-text > h4 {
    font-size: 12px;
    font-weight: 300;
    color: #000D0D;
    margin: 16px 0 36px;
}
.seo-text > p {
    text-align: justify;
    font-size: 14px;
    color: #000D0D;
}
  
.newsletter-and-social-media {
    display: flex;
    gap: 28px;
    margin: 56px 0 calc(56px - 65px);
}
  
.newsletter-and-social-media > .tile {
    flex: 1 0 0;
    padding: 34px 12px;
    border: 1px solid #70707026;
    border-radius: 8px;
}
.newsletter-and-social-media > .tile h4{
    color: #000D0D;
    font-size: 18px;
    font-weight: 500;
}

.newsletter-and-social-media > .tile p{
    color: #000D0D;
    font-size: 12px;
}
.newsletter-and-social-media form.newsletter_form{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.newsletter-and-social-media .form-group {
    margin-bottom: 0;
}
.newsletter-and-social-media .form-group:last-of-type {
    margin-top: 6px;
}
.newsletter-and-social-media .has-feedback{
    height: 100%;
}
.newsletter-and-social-media .form-control.form-control{
    height: 100%;
    border-radius: 8px;
    padding: 6px 20px 6px 12px;
    font-size: 12px;
}
.social-media-btns{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.social-media-btns a{
    display: flex;
    padding: 10px;
    border: 1px solid #70707026;
    border-radius: 8px;
}

@media (min-width: 979px){
    .main_producers__producer {
        min-width: calc(20% - 18px);
        margin: 0 9px;
    }
}

/* stópka */
#footer_links .footer_links#menu_orders,
#footer_links .footer_links#menu_account {
    border: none;
}

footer i{
    display: none !important;
}
ul.footer_links > li > .footer_links_label{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #000D0D !important;
}
ul.footer_links_sub > li{
    padding: 6px 0 !important;
}
ul.footer_links_sub > li a{
    font-size: 14px;
    color: #807675;
}
#links_footer_1 ul.footer_links_sub > li:nth-child(2n + 1) {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: .25rem !important;
}
#links_footer_1 ul.footer_links_sub > li:nth-child(2n) span{
    font-size: 14px;
    color: #000D0D;
}

@media (max-width: 979px) {
    .topBasket .badge {
        z-index: 50;
        transform: translateY(-30%);
    }
}
/* login, favourites, cart */
@media (min-width: 979px) {
    .topBasket {
        padding-right: 0;
        padding-left: 1.5rem;
    }
    header #menu_settings{
        height: 46px;
    }
    #menu_settings .open_trigger {
        width: 60px;
        float: left;
    }
    .flag {
        width: 30px;
        height: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-size: 55px;
        background-position: center;
        border-radius: 50%;
    }

    #menu_settings .account_link,
    #menu_settings .wishlist_link {
        font-size: 0;
        color: transparent;
    }

    #menu_settings .account_link::before,
    #menu_settings .wishlist_link::before {
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: contain;
        vertical-align: -8px;
        margin-right: 5px;
    }

    #menu_settings .account_link::before {
        background-image: url("/data/include/cms/icons/account.svg");
    }

    #menu_settings .wishlist_link::before {
        background-image: url("/data/include/cms/icons/favourite.svg");
    }

    #menu_settings .account_link::after,
    #menu_settings .wishlist_link span {
        display: none;
    }
    .topBasket__sub{
        padding: 0 !important;
    }
    
    .topBasket__sub::before {
        content: unset;
    }

    .topBasket__price {
        line-height: 42px !important;
    }

    .topBasket .badge {
        position: absolute;
        left: 14px;
        top: 21px;
        z-index: 50;
    }

    .topBasket__sub strong {
        margin-right: 10px;
    }
}
.topBasket__sub::after {
    content: "";
    background-image: url("/data/include/cms/icons/basket.svg");
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline-block;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

@media (max-width: 1200px) and (min-width: 979px) {
    /*.topBasket {
        width: 140px;
        max-width: 140px;
    }

    .topBasket__sub {
        width: 140px;
    }

    #menu_additional {
        line-height: 33px;
    }
    */
    #menu_settings .wishlist_link {
        margin-left: 14px;
    }

    #menu_settings .account_link::before,
    #menu_settings .wishlist_link::before {
        content: "";
        width: 25px;
        height: 25px;
        display: inline-block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: -8px;
        margin-right: 5px;
    }
}
/* login, favourites, cart */
@media (min-width: 979px) {
    header #menu_settings {
        height: 46px;
        justify-content: flex-end !important;
    }

    #menu_settings .account_link::before,
    #menu_settings .wishlist_link::before {
        content: "";
        width: 25px;
        height: 25px;
        display: inline-block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: -8px;
        margin-right: 5px;
    }

    .topBasket__sub::after {
        content: "";
        background-image: url("/data/include/cms/icons/basket.svg");
        background-size: contain;
        width: 25px;
        height: 25px;
        display: inline-block;
    }

    .topBasket__price {
        line-height: 42px !important;
    }

    .topBasket__sub::after {
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    .menu_search__submit:before{
        content: '' !important;
        background-image: url("/data/include/cms/icons/search.svg");
        background-size: contain;
        width: 25px;
        height: 25px;
        display: inline-block;
    }
}

/* modifying header */
@media (min-width: 979px){
    header {
        grid-template-columns: 180px calc(100% - 360px) 45px 90px 45px;
        grid-column-gap: 0;
        grid-template-areas:
            "bars_top bars_top bars_top bars_top bars_top"
            "rabateCode rabateCode rabateCode rabateCode rabateCode"
            "freeShipping freeShipping freeShipping freeShipping freeShipping"
            "logo menu_categories menu_search menu_settings menu_basket"
            "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs";
    }
    header .nav-link{
        padding: 8px 10px 8px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
    }
    header .navbar-nav{
        justify-content: center;
        font-size: 1.2rem;
    }
    header ul.navbar-nav.mx-md-n2{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 1200px){
    header .nav-link{
        padding: 8px 7px 8px;
    }
    header .navbar-nav{
        font-size: 1.4rem;
    }
}

@media (min-width: 979px) {
    #logo{
        justify-content: center;
    }
    #logo img{
        max-height: 56px;
    }
    #menu_navbar{
        padding: 0;
        border: none;
    }
    #menu_navbar > ul > li:last-child a[title="SALE"]{
        color: #FF0D00;
    }
    #menu_search .menu_search__input{
        border: none;
        padding-left: 1rem;
        padding-right: 4rem;
    }
    #menu_search .menu_search__submit{
        pointer-events: none;
        justify-content: flex-start;
    }
    #menu_search.--focus .menu_search__submit{
        pointer-events: all;
    }
    #menu_search .menu_search__block {
        margin-left: auto;
        width: 50px;
    }
    #menu_search.--focus .menu_search__block {
        left: unset;
        right: 1.5rem;
        width: 300px;
    }
    #menu_basket .topBasket__sub > .topBasket__price{
        display: none;
    }
    #menu_additional {
        flex-direction: row;
        align-items: center;
    }
    #menu_additional .slt_lists{
        left: unset;
        right: -2.5rem;
    }
}
@media (min-width: 757px){
    .product_name__name {
        font-size: 3.5rem;
    }
    .product_name__description{
        font-size: 1.4rem;
    }
}

@media (min-width: 979px) {
    .hotspot.--list .product__prices .price {
        margin-left: 0;
    }
}
.wide .navbar-subnav{
    width: fit-content !important;
}

/* products arrow slider */
#main_cms2{
    overflow: visible;
    text-align: center;
}
section.hotspot{
    position: relative;
}
section.hotspot > .products.d-flex.flex-wrap {
    scroll-behavior: smooth;
}
section.hotspot button.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border: 1px solid #2C1A1926;
    background: #fff;
    background-image: url("/data/include/cms/icons/arrow-right.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-tap-highlight-color: #2C1A1926;
    z-index: 10;
    
	transition: .2s opacity ease-in-out, .2s visibility ease-in-out;
}
section.hotspot button.arrow-left{
    left: -10px;
    transform: translateY(-50%) rotate(225deg);
}
section.hotspot button.arrow-right{
    right: -10px;
}
section.hotspot.hidden-f > .arrow-left{
    opacity: 0;
    visibility: hidden;
}
section.hotspot.hidden-e > .arrow-right{
    opacity: 0;
    visibility: hidden;
}
@media (min-width: 1360px){
    section.hotspot button.arrow{
        width: 36px;
        height: 36px;
        background-size: 18px;
    }
    section.hotspot button.arrow-left{
        left: -54px;
    }
    section.hotspot button.arrow-right{
        right: -54px;
    }
}

/* lista produktów */
.label_icons > * {
    padding: 6px 12px;
    font-weight: 400;
    font-size: 12px;
    margin-right: 6px;
}
#search .product .label_icons {
    top: 0;
    bottom: unset;
}
.promo, .label.--promo {
    background: #D13C3C;
}
.newproducts, .label.--new {
    background: #1FD18E;
}
